<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DarkPan - Bootstrap 5 Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/adminStyles/admin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/adminStyles/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/adminStyles/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/adminStyles/admin/css/style.css" rel="stylesheet">


</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


       <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <div class="navbar-brand mx-5 my-2">
                    <h5 class="">PLAY <span style="color:#ff0000 ;">ON!</span></h5>
                </div>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/images/admin.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Pranav</h6>
                        <span style="font-size: 14px;">Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin" class="nav-item nav-link"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/admin/users" class="nav-link nav-item"><i class="fas fa-users-cog"></i>Users</a>
                    <a href="/admin/edit-banner" class="nav-link nav-item"><i class="fas fa-image"></i>Upload
                        Banner</a>
                    <a href="/admin/order-management" class="nav-link nav-item"><i class="fa fa-shopping-basket"
                            aria-hidden="true"></i>Orders</a>
                    <a href="/admin/addproduct" class="nav-link active"><i class="fas fa-cart-plus"></i>
                        Add Products</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-laptop me-2"></i>View Products</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            {{#each categoryList}}
                            <a href="/admin/viewproducts/{{this._id}}" class="dropdown-item">{{this.name}}</a>
                            {{/each}}
                            <a href="/admin/viewallproducts" class="dropdown-item">All Products</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-table"
                                aria-hidden="true"></i>
                            Category</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/categorylist" class="dropdown-item">Show Category List</a>
                            <a href="/admin/addcategory" class="dropdown-item">Add Category</a>
                            
                        </div>
                    </div>
                    <a href="/admin/coupons" class="nav-link nav-item"><i class="fa fa-tags" aria-hidden="true"></i>
                        Coupons</a>
                        <a href="/admin/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i>
                        Logout</a>

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="#" class="navbar-brand d-flex d-lg-none me-4"></a>
                    <a href="#" class="sidebar-toggler flex-shrink-0">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="navbar-nav align-items-center ms-auto">
                        {{!-- <div class="nav-item">
                            <a href="#" class="nav-link ">
                                <img class="rounded-circle me-lg-2" src="/images/admin.jpg" alt=""
                                    style="width: 35px; height: 35px;">
                                <span class="d-none d-lg-inline-flex">Pranav</span>

                            </a>
                        </div> --}}
                    </div>
            </nav>
            <!-- Navbar End -->


            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <div class="col-sm-12 col-xl-5">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h5 class="mb-4 text-center">Add Product</h5>
                            <form action="/admin/productAdded" method="post" enctype="multipart/form-data" class="text-danger" id="productForm">
                            <div class="form-floating mb-3 text-light">
                                <input type="text" name="name" required class="form-control text-white" id="floatingInput"
                                    placeholder="Product name">
                                <label for="floatingInput">Product name</label>
                            </div>
                            <div class="form-floating mb-3 text-light">
                                <input type="text" name="brand" required class="form-control text-white" id="brand"
                                    placeholder="Brand">
                                <label for="Brand">Brand</label>
                            </div>
                            <div class="form-floating mb-3 text-light">
                                <textarea class="form-control" name="details" required placeholder="Details"
                                    id="floatingTextarea" style="height: 100px;"></textarea>
                                <label for="floatingTextarea">Details</label>
                            </div>
                            <div class="form-floating mb-3 text-light">
                                <textarea class="form-control" name="description" required placeholder="Description"
                                    id="description" style="height: 100px;"></textarea>
                                <label for="floatingTextarea">Description</label>
                            </div>
                             <div class="form-floating mb-3 text-light">
                                <select class="form-select" name="category" required id="floatingSelect"
                                    aria-label="Floating label select example"style="height:70px;">
                                    {{!-- <option selected>Open this category menu</option> --}}
                                    {{#each categoryList}}
                                    <option value={{this._id}}>{{this.name}}</option>
                                    {{!-- <option value="">Two</option>
                                    <option value="">Three</option> --}}
                                    {{/each}}
                                </select>
                                <label for="floatingSelect">Category</label>
                            </div>
                            <div class="form-floating mb-3 text-light">
                                <input type="number" required name="quantity" class="form-control" id="quantity"
                                    placeholder="Quantity">
                                <label for="quantity">Quantity</label>
                            </div>
                            <div class="form-floating mb-3 text-light">
                                <input type="number" required name="actualPrice" class="form-control" id="price"
                                    placeholder="Price">
                                <label for="price">Price</label>
                            </div>
                            <div class="form-floating mb-3 text-light">
                                <input type="number" name="sellingPrice" required class="form-control" id="Selling price"
                                    placeholder="Selling price">
                                <label for="selling price">Selling price</label>
                            </div>
                            <div class="mb-4 text-light">
                                <label for="formFileMultiple" class="form-label">Add images</label>
                                <input class="form-control bg-dark" multiple name="images" required type="file" id="formFileMultiple">
                            </div>
                            <div class="d-flex justify-content-center">
                             <button type="submit" class="btn fw-bold btn-primary">Submit Details</button>
                             </form>
                             </div>
                        </div>
                        
                    </div>
</div>
        </div>
        <!-- Back to Top -->
        {{!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> --}}
    </div>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js">
  </script>
<script>
  $("#productForm").validate({
    rules:{
        name:{
            required:true
        },
        brand:{
            required:true
        },
        details:{
            required:true
        },
        description:{
            required:true
        },
        quantity:{
            digits:true,
            required:true
        },
        actualPrice:{
            digits:true,
            required:true
        },
        sellingPrice:{
            digits:true,
            required:true
        }
    },
    messages:{
        name:{
            required:'Enter product name'
        },
        brand:{
            required:'Enter the brand name'
        },
        details:{
            required:'Enter details about the product'
        },
        description:{
            required:'Enter some description about the product'
        },
        quantity:{
            required:'Enter quantity of stock',
            digits:'Enter digits'
        },
        actualPrice:{
            required:'Enter the actual price of the product',
            digits:'Enter digits'
        },
        sellingPrice:{
            required:'Enter the selling price of the product',
            digits:'Enter digits'
        },
        image:{
            required:'Select images for product'
        }

    }
  })
</script>
     <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/adminStyles/admin/lib/chart/chart.min.js"></script>
    <script src="/adminStyles/admin/lib/easing/easing.min.js"></script>
    <script src="/adminStyles/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/adminStyles/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/adminStyles/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/adminStyles/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/adminStyles/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Template Javascript -->
    <script src="/adminStyles/admin/js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/javascripts/admin-script.js"></script>
</body>

</html>