
<!-- Footer -->

	<footer class="footer" style="background-color: #f2f2f2;">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<ul class="footer_nav">
							<li><a href="/">Home</a></li>
							<li><a href="/toProfile">Profile</a></li>
							<li><a href="/clubjerseys">Club Jerseys</a></li>
							<li><a href="/internationaljerseys">National Jerseys</a></li>
							<li><a href="/boots">Boots</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer_social d-flex align-items-center justify-content-lg-end justify-content-center">
						<ul>
							<li class="text-secondary">Developed by :<span><a class="fw-bold" href=""><b>Pranav Premanand</b></a></span></li>
							{{!-- <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li> --}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>