  <head>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
<link rel="stylesheet" type="text/css" href="/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/single_responsive.css">

{{!-- <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css"> --}}
<link rel="stylesheet" type="text/css" href="plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
{{!-- <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="styles/responsive.css"> --}}
{{!-- <link rel="stylesheet" href="public/stylesheets/style.css" type="text/css"> --}}
<link rel='stylesheet' href='/stylesheets/style.css' />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
      <style>
    @media (max-width:576px){
      .main{
        margin-top: 110px;
        padding: 0;
      }
    }
     @media (min-width:577px){
      .main{
        margin-top: 160px;
        padding: 0;
      }
    }
  </style>
  </head>
    <style>
      body {
        text-align: center;
        
        background: #ffffff;
      }
        h1 {
          color: #a90000;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #404F5E;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      .checkmark {
        color: #a90000;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: white;
        padding: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 3px #ffffff;
        display: inline-block;
        margin: 0 auto;
      }
    </style>
    <body>
        <div class="main p-3">
      {{!-- <div class="card"> --}}
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        {{!-- <i class="checkmark">x</i> --}}
        <i class="fa fa-times checkmark" aria-hidden="true"></i>

      </div>
        <h1>Payment failed</h1> 
        <p>You order is failed.<br/> Try again.</p>
        <div>
            <a href="/view-orders" class="mt-3 button btn btn-dark btn-sm text-white" style="text-transform: capitalize;">view orders</a>
            <a href="/" class="mt-3 button btn btn-dark btn-sm text-white" style="text-transform: capitalize;">continue shopping</a>
        </div>
      {{!-- </div> --}}
      </div>
    </body>